@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --size: 600px;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 90vh;
    font-family: 'Audiowide', cursive; /* Apply Audiowide font */
}

.app {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start */
}

.cube-containerr {
    perspective: 2000px;
    width: var(--size); /* Adjusted cube container size */
    height: var(--size) /* Adjusted cube container size */
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 350px; /* Reduced space for better alignment */
    padding-left: 50px;
}

.cubee {
    position: relative;
    width: 100%; /* Set cube size */
    height: 100%; /* Set cube size */
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    transition: all 0.85s cubic-bezier(1, -0.75, 0.5, 1.2);

    /* transform: rotateX(-90deg); */ 
    /* transform: rotateY(180deg); */
    /* transform: rotateY(-90deg); */
}

.face {
    position: absolute;
    border: 1px solid #b2fd4b;
    box-shadow: inset 0 0 60px #cbf493;
    width: var(--size);
    height: var(--size);
    text-align: center;
    font-size: 1.25rem;
    color: #cbf493;
    background-color: black;
    opacity: 0.9;
    transform-origin: center; /* Keep faces centered */
}

.front  { transform: translateZ(300px); } 
.back   { transform: rotateY(180deg) translateZ(300px); } 
.left   { transform: rotateY(-90deg) translateZ(300px); } 
.right  { transform: rotateY(90deg) translateZ(300px); } 
.top    { transform: rotateX(90deg) translateZ(300px); } 
.bottom { transform: rotateX(-90deg) translateZ(300px); } 

.buttoncolors{
    border: 1px solid #b2fd4b;
    box-shadow: inset 0 0 10px #cbf493;
}

.buttoncolors:hover{
    background-color: #cbf493;
}